*
  box-sizing: border-box
body
  font-family: "Inter", serif
  color: $text-color
  background-color: $background
  overflow-x: hidden
.container
  max-width: 1198px
  margin: auto
img
  max-width: 100%
.button
  display: inline-flex
  align-items: center
  gap: 10px
  border-radius: 8px
  padding: 10px 20px
  background: $primary
  font-weight: 600
  font-size: 16px
  letter-spacing: 0.05em
  color: #fff
  text-decoration: none
  &:hover
    background: $secondary

h1
  font-weight: 700
  font-size: 30px
  color: #111
  margin: 0
h2
  font-weight: 700
  font-size: 30px
  color: #000
  margin: 0
h3
  font-weight: 700
  font-size: 20px
  color: #000
  margin: 0
p
  margin: 0
