.footer
  background: $background-sec
  &__nav
    padding: 11px 0 16px 0
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 2px solid $background
    & a
      color: $text-color
  &__bottom
    display: flex
    justify-content: space-between
    align-items: center
    padding: 31px 0 17px 0
    & a
      font-weight: 400
      font-size: 16px
      text-decoration: none
      color: $text-color