.hero
  padding-top: 113px
  padding-bottom: 113px
  &-info
    display: flex
    justify-content: space-between
    align-items: center
    &__title
      max-width: 662px
      & h2
        margin-bottom: 15px
      & p
        max-width: 519px
        font-weight: 400
        font-size: 14px
        line-height: 179%
        margin: 0
      & p:last-of-type
        margin-bottom: 15px
    &__highlight
      display: inline-block
      border: 2px solid $primary
      border-radius: 10px
      padding: 5px 10px
      font-weight: 800
      font-size: 35px
      color: $primary
      margin: 15px 0 15px 0
    &__img
      max-width: 100%
      height: auto
