.services
  padding: 60px 0 80px 0
  background: $background
  &__title
    text-align: center
    margin-bottom: 70px
    & span
      color: $primary
  &__cards
    display: flex
    justify-content: space-around
    align-items: center
  &__card
    display: flex
    align-items: center
    justify-content: flex-start
    flex-direction: column
    gap: 20px
    background: $background-sec
    border-radius: 28px
    padding: 20px
    width: 504px
    & h3, span, ul
      width: 100%
      margin: 0 auto
    & span, ul
      font-weight: 400
      font-size: 14px
      line-height: 179%
    & ul
      padding-inline-start: 15px
